.searchWrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(14, 14, 14, 1);
    z-index: 999;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
}

@supports (backdrop-filter: blur(25px)) {
    .searchWrapper {
        background: rgba(14, 14, 14, 0.80);
        backdrop-filter: blur(25px);
    }
}

.searchWrapper.open {
    opacity: 1;
    pointer-events: all;
}

.search {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}