@font-face {
    font-family: 'Lab Grotesque';
    src: local('Lab Grotesque'), url('/fonts/LabGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: local('Lab Grotesque'), url('/fonts/LabGrotesque-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}